.form-margin {
  margin: 5%;
}

input {
  margin: 2% 2% 0 0;
}

button {
  margin: 2% 2% 0 0;
}

.app {
  margin: 5%;
}


.goal-holder {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.goal-title {
  align-self:center;
}
